.swiper-pagination .swiper-pagination-bullet {
  width: 11px !important;
  height: 3px !important;
  background-color: rgba(255, 255, 255, 0.6) !important;
  border: none;
}
.swiper-pagination .swiper-pagination-bullet-active {
  width: 22px !important;
  background-color: #ffffff !important;
}
header li:nth-of-type(n+2) {
  border: none;
}
nav {
  margin-top: 20px;
  letter-spacing: 0;
  font-size: 0;
}
nav img {
  width: 25%;
}
nav img:nth-of-type(1) {
  width: 50%;
}
.only {
  padding-left: 20px ;
}
.only h1 {
  margin: 30px 0 20px;
  color: #312f2e;
  line-height: 6.4vw;
  letter-spacing: 1px;
  font-size: 4.5vw;
  font-weight: 700;
}
.only img {
  width: 30vw;
  margin-right: 10px;
}
.flash {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
.flash > img {
  width: 100%;
  margin-top: 30px;
}
.flash > div {
  margin: 30px 0 40px;
}
.flash > div > div:nth-of-type(1) {
  padding: 0 20px;
  margin-bottom: -45px;
}
.flash > div > div:nth-of-type(1) h1 {
  color: #312f2e;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 4.5vw;
}
.flash > div > div:nth-of-type(1) div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.flash > div > div:nth-of-type(1) div p:nth-of-type(1) {
  font-size: 3.2vw;
  padding-bottom: 5px;
}
.flash > div .main-pics {
  overflow: hidden;
  padding-top: 35px;
  height: 36.7vw;
}
.flash > div .main-pics .swiper-pagination-fraction {
  position: absolute;
  top: -5px;
  text-align: right;
  padding-right: 20px;
  color: #9e9b9e;
  font-size: 3.73vw;
  letter-spacing: 1px;
  font-family: PingFangSC-Medium, PingFang SC;
}
.flash > div .main-pics .swiper-pagination-fraction .swiper-pagination-current {
  color: #ff6269;
  font-weight: 600;
  font-size: 5vw;
}
.flash > div .main-pics .swiper-slide {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.flash > div .main-pics .swiper-slide img {
  width: 40.5vw;
  border-radius: 3px;
  height: 50.67vw;
  position: relative;
}
.flash > div .main-pics .swiper-slide > div {
  width: 42.4vw;
  height: 26.93vw;
  overflow: hidden;
  text-align: right;
}
.flash > div .main-pics .swiper-slide > div h1 {
  margin: 7.73vw 0 3.47vw;
  color: #333333;
  font-weight: 600;
  font-size: 3.73vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.flash > div .main-pics .swiper-slide > div del {
  color: #b5b5b5;
  font-size: 3.2vw;
  line-height: 4.4vw;
  margin-right: 4px;
}
.flash > div .main-pics .swiper-slide > div span {
  color: #ff6269;
  font-weight: 500;
  font-size: 3.46vw;
}
.new > div {
  margin: 30px 0 40px;
}
.new > div > div {
  padding: 0 20px;
}
.new > div > div h1 {
  color: #312f2e;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 4.5vw;
}
.new > div > div div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.new > div > div div p:nth-of-type(1) {
  font-size: 3.2vw;
  padding-bottom: 5px;
}
.new > div > div div p {
  color: #9e9b9e;
  font-size: 3.73vw;
  letter-spacing: 1px;
  font-family: PingFangSC-Medium, PingFang SC;
}
.new > div > div div p span {
  color: #ff6269;
  font-weight: 600;
  font-size: 5vw;
}
.new > div > section {
  width: calc(100% - 20px);
  overflow: scroll;
  margin-left: 20px;
}
.new > div > section::-webkit-scrollbar {
  display: none;
}
.new > div > section > div {
  width: 512vw;
  display: flex;
}
.new > div > section > div > div {
  width: 60vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 4vw;
}
.new > div > section > div > div img {
  width: 60vw;
  border-radius: 3px;
}
.new > div > section > div > div h1 {
  color: #333333;
  font-size: 3.73vw;
  line-height: 5.33vw;
}
.new > div > section > div > div p {
  color: rgba(51, 51, 51, 0.7);
  line-height: 0.44vw;
  font-family: PingFangSC-Regular, PingFang SC;
  font-size: 3.2vw;
  margin: 0;
}
.new > div > section > div > div > div {
  margin-top: 14px;
  color: #333333;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  font-size: 3.2vw;
}
.hot {
  padding: 0 20px;
}
.hot > div {
  margin: 40px 0 30px;
}
.hot > div h1 {
  color: #312f2e;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 4.5vw;
}
.hot > div div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hot > div div p:nth-of-type(1) {
  font-size: 3.2vw;
  padding-bottom: 5px;
}
.hot > div div p {
  color: #9e9b9e;
  font-size: 3.73vw;
  letter-spacing: 1px;
  font-family: PingFangSC-Medium, PingFang SC;
}
.hot > div div p span {
  color: #ff6269;
  font-weight: 600;
  font-size: 5vw;
}
.hot > section {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap ;
}
.hot > section > div {
  width: 42.67vw;
  font-family: PingFangSC-Semibold, PingFang SC;
}
.hot > section > div img {
  width: 100%;
}
.hot > section > div span {
  color: #333333;
  font-size: 3.73vw;
  padding-top: 5px;
  font-weight: 600;
  line-height: 5.87vw;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hot > section > div p {
  color: rgba(51, 51, 51, 0.7);
  font-size: 3.2vw;
  line-height: 4.4vw;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hot > section > div div {
  color: #333333;
  font-size: 3.2vw;
  line-height: 5.2vw;
  font-weight: 600;
}
.inscribe {
  margin-top: 40px;
  padding-bottom: 6px;
  text-align: center;
  color: #999;
  font-size: 3.2vw;
  line-height: 4.8vw;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
.inscribe p {
  margin: 0;
}
.inscribe img {
  width: 3.2vw;
}
.swiper-container img {
  width: 100%;
}
