img{
    width: 100%;
}
.top{
    margin-top: 10.6vw;
    width: 100%;
    margin-bottom: 7.5vw;
}
.show_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5.5vw;
    box-sizing: border-box;
}
.list{
    width: 42.67vw;
    margin-bottom: 7.5vw;
}
.list_img{
    position: relative;
    background: rgba(237, 237, 237, 1);
    overflow: hidden;
    border-radius: 2px;
}
.tips{
    position: absolute;
    top: 3.1vw;
    left:3.1vw;
    padding: 0.02vw 0.4vw;
    height: 3.5vw;
    line-height: 3.5vw;
    font-size: 2.76vw;
    color: rgba(255, 98, 105, 1);
    background-color: rgba(255, 255, 255, 1);
    letter-spacing:1px;
    border-radius: 0.5vw;
    font-weight: 500;
}
.title p:nth-of-type(1){
    font-size: 3.7vw;
    font-weight: bolder;
    color: rgba(51, 51, 51, 1);
    font-family: 'PingFangSC-Semibold', 'PingFang SC';
    height: 5.344vw;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.title p:nth-of-type(2){
    font-family: 'PingFangSC-Semibold', 'PingFang SC';
    color: rgba(51, 51, 51, 1);
    margin-top:4.5vw ;
    margin-bottom: 4.5vw;
    font-weight: 600;
    font-size: 3.7vw;
    letter-spacing:1px;
}
.old{
    color: #b2b2b2;
    /* text-decoration: line-through; */
    margin-left: 6px;
    font-size: 3.6vw;
    letter-spacing:1px;
}
.ad{
    /* margin-top: 10.6vw; */
    width: 100%;
    margin-bottom: 7.5vw;
}
.hot{
    padding: 0 5.5vw;
}
.hot img{
    margin-bottom: 2.8vw;
}


footer{
    display: none;
}


.footer img{
    width: 12px;
    margin-right: 2px;
    margin-bottom: 3px;

}
.footer{
    font-size: 10px;
    text-align: center;
    padding-top: 40px;
}
.footer p{
    color: #999;
    padding-bottom: 6px;
    margin: 0;
}
body{
    padding-bottom: 0;
}