* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: teal;
    padding: 2vh 0;
}

form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

form button {
    font-size: 4vw;
    border: none;
    padding: 0 2vw;
    border-radius: 2vw;
    background: none;
    color: white;
    outline: none;
}

.search {
    /* margin: 0 auto; */
    display: flex;
    width: 70%;
    background-color: white;
    border-radius: 10vw;
    padding: 1vw 2vw;
    justify-content: space-around;
    margin-right: 2vw;
    /* position: fixed;
    top: 0;
    width: 100%; */
}

.search .icon {
    display: inline-block;
    width: 5%;
}

.search .icon img {
    width: 100%;
}

.search input {
    width: 90%;
    border: none;
    background-color: none;
    outline: none;
}

.find {
    margin-bottom: 6vh;
}

.find>p {
    font-size: 3.7vw;
    font-weight: 600;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.find>span {
    font-size: 3.5vw;
    color: #858585;
    display: inline-block;
    border: 1px solid #858585;
    padding: 1vw 2vw;
    margin-right: 2vw;
}

.good p {
    font-size: 3.9vw;
    font-weight: 600;
}

.good>div {
    display: flex;
}

.good .list {
    width: 48%;
}

.good .list img {
    width: 100%;
}

.good .list P:nth-of-type(1) {
    margin: 2vh 0;
    font-size: 3.5vw;
}

.good .list P:nth-of-type(2) {
    font-size: 3vw;
}

.good .list del {
    color: #b3b3b3;
    margin-left: 3vw;
}

.nothing {
    text-align: center;
    margin-top: 5vh;
}

.list-show {
    list-style: none;
    display: flex;
    margin-top: 4vh;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-show li {
    width: 48%;
}

.list-show li img {
    width: 100%;
}

.list-show li p:nth-of-type(1) {
    font-size: 4vw;
    font-weight: 600;
    padding: 0 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.list-show li p:nth-of-type(2) {
    font-size: 3.5vw;
    padding: 0 2vw;
}

.list-show li p:nth-of-type(2) del {
    color: #b3b3b3;
    font-size: 3.2vw;
    margin-left: 2vw;
}

.result {
    text-align: center;
    font-size: 3.5vw;
    font-weight: 100;
    color: #858585;
}