{{include './community-common.html'}}
<link rel="stylesheet" href="/css/communityCSS/community.css">

<body>
    <header>
        <div class="container">
            <div class="search">
                <section class="inest">
                    <span class="glyphicon glyphicon-search"></span>
                    <input type="text" name="intest" id="" placeholder="在23W帖子中发现你的兴趣">
                </section>
                <button>搜索</button>
            </div>


        </div>

        <!-- 用户推荐 -->
        <div class="top-user">
            <ul class="top-show">
                <li class="more">
                    <img src="/imges/社区-首页/more.png" alt="">
                </li>
            </ul>
        </div>

        <!-- 导航栏 -->
        <div class="nav-bar">
            <a href="javascript:void(0)" id="attention">关注</a>
            <a href="javascript:void(0)" id="recommend">推荐</a>
            <a href="javascript:void(0)" id="news" class="nav-active">最新</a>
        </div>
        </div>
    </header>

    <main>
        <div class="container">
            <!-- 最新部分 -->
            <div class="news">
                <ul class="left">
                    {{each data.left item}}
                    <li class="cet"><img src="{{item.img}}" alt="">
                        <p class="msg">{{item.msg}}</p>
                        <p class="user"><img src="{{item.userPic}}" alt=""><span>{{item.name}}</span><span><img class="like" src="/imges/社区-首页/heart.png"> <i>{{item.like}}</i></span></p>
                    </li>
                    {{/each}}
                </ul>
                <ul class="right">
                    {{each data.right item}}
                    <li class="cet"><img src="{{item.img}}" alt="">
                        <p class="msg">{{item.msg}}</p>
                        <p class="user"><img src="{{item.userPic}}" alt=""><span>{{item.name}}</span><span><img class="like" src="/imges/社区-首页/heart.png"> <i>{{item.like}}</i></span></p>
                    </li>
                    {{/each}}
                </ul>

            </div>
            <!-- 推荐部分 -->
            <div class="recommend" style="display: none;">
                <ul class="left">
                    {{each data.right item}}
                    <li class="cet"><img src="{{item.img}}" alt="">
                        <p class="msg">{{item.msg}}</p>
                        <p class="user"><img src="{{item.userPic}}" alt=""><span>{{item.name}}</span><span><img class="like" src="/imges/社区-首页/heart.png"> <i>{{item.like}}</i></span></p>
                    </li>
                    {{/each}}
                </ul>
                <ul class="right">
                    {{each data.left item}}
                    <li class="cet"><img src="{{item.img}}" alt="">
                        <p class="msg">{{item.msg}}</p>
                        <p class="user"><img src="{{item.userPic}}" alt=""><span>{{item.name}}</span><span><img class="like" src="/imges/社区-首页/heart.png"> <i>{{item.like}}</i></span></p>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <!-- 关注部分 -->
            <div class="attention" style="display: none;">
                <ul class="show-card">
                    {{each data.attention item}}
                    <li>
                        <p><img src="/imges/社区-首页/logo.jpg" alt=""><span>FLŌWERPLUS</span><span>Lv.1</span></p>
                        <img src="{{item.img}}" alt="">
                        <span>{{item.tip}}</span>
                        <p>{{item.msg}}</p>
                        <p>{{item.time}}
                            <span>
                                <img class="star" src="/imges/社区-首页/star.png" alt="">
                                <sup class="starNum" data-id="{{item.star}}">{{item.star}}</sup>
                            </span>
                            <span>
                                <img class="like" src="/imges/社区-首页/like.png" alt="">
                                <sup class="likeNum">{{item.like}}</sup>
                            </span>
                        </p>
                        {{if item.commit}}
                        <p class="commit">{{item.commit}}</p>
                        {{/if}}
                        <p class="addCommit">添加评论....</p>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

    </main>






    <script src='/data/communityData.js'></script>
    <script>
        $(topUser).each(function(index, item) {
            str = `<li>
                <section class="show-photo">
                    <div><img src="${item.pic1}"></div>
                    <div><img src="${item.pic2}">
                         <section class="add-photo"><img src="/imges/社区-首页/photoAdd.png"></section>
                         </div>
                   
                </section>
                <section>
                    <div class="user-photo"><img src="${item.user}">
                        <img src="/imges/社区-首页/user-border.png">
                        </div>
                    <span>${item.name}</span>
                </section>
                <section><span>${item.job}</span></section></li>`

            $('.top-show').prepend(str)
        })

        $('#news').click(function() {
            $(this).addClass('nav-active').siblings().removeClass()
            $('.news').css('display', 'flex').siblings().css('display', 'none')
        })
        $('#attention').click(function() {
            $(this).addClass('nav-active').siblings().removeClass()
            $('.attention').css('display', 'block').siblings().css('display', 'none')
        })
        $('#recommend').click(function() {
            $(this).addClass('nav-active').siblings().removeClass()
            $('.recommend').css('display', 'flex').siblings().css('display', 'none')
        })

        var isChange = true
        $('.star').click(function() {
            if (isChange) {
                $(this).attr('src', "/imges/社区-首页/star.svg")
                $(this).next().text($(this).next().text() * 1 + 1)
                isChange = !isChange
                return isChange
            } else {
                $(this).attr('src', "/imges/社区-首页/star.png")
                $(this).next().text($(this).next().text() * 1 - 1)
                isChange = !isChange
                return isChange
            }

        })

        var isChange2 = true
        $('.like').click(function() {
            if (isChange2) {
                $(this).attr('src', "/imges/社区-首页/like.svg")
                $(this).next().text($(this).next().text() * 1 + 1)
                isChange2 = !isChange2
                return isChange2
            } else {
                $(this).attr('src', "/imges/社区-首页/like.png")
                $(this).next().text($(this).next().text() * 1 - 1)
                isChange2 = !isChange2
                return isChange2
            }

        })

        // $(window).scroll(function() {

        //     var topp = $(document).scrollTop();

        //     if (topp > 90) {
        //         $('header').slideUp()
        //     } else {
        //         $('header').slideDown()
        //     }

        // })
    </script>
    </header>

</body>

</html>