<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/detailPage/detaiPage.css">
    <link rel="stylesheet" href="/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/swiper/swiper-bundle.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>

<body>
    <div class="swiper-container top-pics">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/imges/详情页/{{banner[0]}}">
            </div>
            <div class="swiper-slide">
                <img src="/imges/详情页/{{banner[1]}}">
            </div>
            <div class="swiper-slide">
                <img src="/imges/详情页/{{banner[2]}}">
            </div>
            <div class="swiper-slide">
                <img src="/imges/详情页/{{banner[3]}}">
            </div>
            <div class="swiper-slide">
                <img src="/imges/详情页/{{banner[4]}}">
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="shophead">
        <h1>{{h}}</h1>
        <p>{{title}}</p>
        <div>
            <span>{{price}}</span>
            <small>原价<del>{{oldPrice}}</del></small>
        </div>
    </div>
    <div class="round_tit">
        <img src="/imges/详情页/right.svg" alt="">
        <div>产地直采</div>
        <img src="/imges/详情页/right.svg" alt="">
        <div>花损赔付</div>
        <img src="/imges/详情页/right.svg" alt="">
        <div>准时送达</div>
    </div>
    <div class="sales_des">
        <p>促销</p>
        <div>
            <div>
                <div>【新客福利】</div>
                <p>新客赠送价值69元花瓶</p>
            </div>
            <div>
                <div>【套餐详情】</div>
                <p>高定版全家福含谜藏3束+秘境1束+野逸4束+大师2束+郁金香1束+朱顶红1束，券后仅售599</p>
            </div>
            <div>
                <div>【小编力荐】</div>
                <p>恭喜你发现花加11.11最大隐藏超值补贴优惠！下单就是赚</p>
            </div>
            <div>
                <div>【温馨提示】</div>
                <p>由于产品特殊性，不可修改收花时间</p>
            </div>
        </div>
    </div>
    <div class="more_banner">
        <img src="/imges/详情页/banner.jpg" alt="">
    </div>
    <div class="all_imgs">
        {{each img item}}
        <div>
            <img src="/imges/详情页/{{item}}" alt="">
        </div>
        {{/each}}
    </div>
    <div class="product-detail">
        <div>
            <div>服务免责声明</div>
            <i class="glyphicon glyphicon-plus"></i>
        </div>
        <img src="/imges/详情页/pic-footer.jpg" alt="">
    </div>

    <div class="buy_shop">
        <div>
            <img src="/imges/详情页/home.svg" alt="">
        </div>
        <div class="open-show">加入购物车</div>
        <div class="open-show">立即购买</div>
    </div>
    <div class="buy-show">
        <div>
            <img src="/imges/详情页/{{banner[0]}}">
            <span>{{price}}</span>
            <i class="glyphicon glyphicon-remove close-show"></i>
        </div>
        <section>
            <p>配送区域</p>
            <div>
                <img src="/imges/我的/15265254442733.png" alt="">
                <input type="text" value="广东省 广州市 海珠区" />
                <i class="glyphicon glyphicon-menu-right pull-right"></i>
            </div>
            <p>产品</p>
            <section>{{h}}</section>
            <p>购买数量</p>
            <div class="buyNum">
                <img src="/imges/我的/15616022522527.jpg" alt="">
                <input type="text" value="1">
                <img src="/imges/我的/15268877432251.png" alt="">
            </div>
        </section>
        <span class="addCar">
            确定
        </span>
    </div>



    <script src="/bootstrap-3.3.7-dist/js/jquery.cookie.js"></script>
    <script>
        // 轮播配置
        var mySwiper = new Swiper('.top-pics', {
            loop: true, // 循环模式选项
            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
            },
        })
        $('.open-about').click(function () {
            $.popup('.popup-about');
        });
        $('.open-show').click(function () {
            $('body').css({
                height: '100vh',
                overflow: 'hidden'
            })
            $('.buy-show').css('bottom', '0')
        })
        $('.close-show').click(function () {
            $('body').css({
                height: 'auto',
                overflow: 'auto'
            })
            $('.buy-show').css('bottom', '-85vh')
        })
        $('.buyNum>img').eq(0).click(function () {
            if ($('.buyNum>input').val() > 1) {
                $('.buyNum>input').val($('.buyNum>input').val() * 1 - 1)
            }
        })
        $('.buyNum>img').eq(1).click(function () {
            $('.buyNum>input').val($('.buyNum>input').val() * 1 + 1)
        })
        $('.addCar').click(function () {
            var username = $.cookie('username')
            if (username != undefined) {
                var thisShopMsg = {
                    username,
                    name: $('.shophead>h1').html(),
                    quantity: $('.buyNum>input').val(),
                    money: $('.shophead>div>span').html().slice(1),
                    oldPrice: $('.shophead>div del').html().slice(1),
                    img: $('.swiper-wrapper img').eq(0).attr('src')
                }
                $.get('/car/addCar',{thisShopMsg},(data)=>{
                    if(data=="成功"){
                        location.href='/userCar'
                    }
                })
            } else {
                alert('请先登录账号')
                location.href = '/mine'
            }
        })
        $('.buy_shop>div').eq(0).click(function(){
            location.href='/'
        })
    </script>
</body>

</html>