<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>绿植多肉</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/fleshinessCss/fleshiness.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="search">
                <span class="icon"><img src="/imges/首页-绿植/search.svg" alt=""></span>
                <input type="text" name="search" id="search" placeholder="搜索绿植">
            </div>
            <div class="banner"><img src="/imges/首页-绿植/header-banner.jpg" alt=""></div>
        </div>


    </header>
    <!-- 头部 -->


    <div class="container">
        <div class="ad">
            <div>
                <img src="imges/首页-绿植/ad1.png" alt="">
                <img src="imges/首页-绿植/ad2.png" alt="">
            </div>
            <div>
                <img src="imges/首页-绿植/ad3.png" alt="">
            </div>
        </div>
        <!-- 盆栽部分 -->

        <div class="activity">
            <p>活动专区</p>
            <div><img src="/imges/首页-绿植/new.png" alt="">
                <img src="/imges/首页-绿植/sale.png" alt="">
            </div>
        </div>
        <!-- 活动专区部分 -->

        <div class="news">
            <p>新品推荐</p>
            <div class="swiper-container">
                <ul class="swiper-wrapper" style="margin-bottom: 2vh;">
                    <li class="swiper-slide">
                        <div><img src="/imges/首页-绿植/new-list22.jpg" alt="">
                            <p>宫粉梅 黄金蜡梅</p>
                            <p><span>￥59.90</span><del>￥79.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list23.jpg" alt="">
                            <p>中国桔梗</p>
                            <p><span>￥39.90</span><del>￥59.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list24.jpg" alt="">
                            <p>金边瑞香</p>
                            <p><span>￥49.90</span><del>￥69.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div><img src="/imges/首页-绿植/new-list1.jpg" alt="">
                            <p>腊梅盆栽</p>
                            <p><span>￥59.90</span><del>￥79.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list2.jpg" alt="">
                            <p>诺贝尔圣诞树</p>
                            <p><span>￥299.00</span><del>￥399.00</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list3.jpg" alt="">
                            <p>珊瑚冬青</p>
                            <p><span>￥59.90</span><del>￥79.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div><img src="/imges/首页-绿植/new-list4.jpg" alt="">
                            <p>松红梅盆栽</p>
                            <p><span>￥49.90</span><del>￥69.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list5.jpg" alt="">
                            <p>落新妇盆栽</p>
                            <p><span>￥39.90</span><del>￥59.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list6.jpg" alt="">
                            <p>绣线菊盆栽</p>
                            <p><span>￥49.90</span><del>￥69.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div><img src="/imges/首页-绿植/new-list7.jpg" alt="">
                            <p>元气森活-耐养</p>
                            <p><span>￥99.90</span><del>￥129.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list8.jpg" alt="">
                            <p>大丽花盆栽</p>
                            <p><span>￥59.00</span><del>￥99.00</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list9.jpg" alt="">
                            <p>珍珠橙盆栽</p>
                            <p><span>￥59.00</span><del>￥79.00</del></p>
                            <span class="tip">NEW</span>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div><img src="/imges/首页-绿植/new-list10.jpg" alt="">
                            <p>郁金香盆栽</p>
                            <p><span>￥39.90</span><del>￥59.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list11.jpg" alt="">
                            <p>大花蕙兰</p>
                            <p><span>￥169.00</span><del>￥299.00</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list12.jpg" alt="">
                            <p>大蝴蝶兰</p>
                            <p><span>￥99.00</span><del>￥119.00</del></p>
                            <span class="tip">NEW</span>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div><img src="/imges/首页-绿植/new-list13.jpg" alt="">
                            <p>脆皮金桔</p>
                            <p><span>￥99.00</span><del>￥139.00</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list14.jpg" alt="">
                            <p>诺贝松圣诞挂件</p>
                            <p><span>￥99.00</span><del>￥199.00</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list15.jpg" alt="">
                            <p>北美冬青盆栽</p>
                            <p><span>￥189.00</span><del>￥399.00</del></p>
                            <span class="tip">NEW</span>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div><img src="/imges/首页-绿植/new-list16.jpg" alt="">
                            <p>转运果切纸</p>
                            <p><span>￥49.90</span><del>￥79.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list17.jpg" alt="">
                            <p>迷你月季</p>
                            <p><span>￥29.90</span><del>￥49.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list18.jpg" alt="">
                            <p>绿萝双子星</p>
                            <p><span>￥29.90</span><del>￥49.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div><img src="/imges/首页-绿植/new-list19.jpg" alt="">
                            <p>梦香兰</p>
                            <p><span>￥49.90</span><del>￥69.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list20.jpg" alt="">
                            <p>如梦令</p>
                            <p><span>￥49.90</span><del>￥69.90</del></p>
                            <span class="tip">NEW</span>
                        </div>
                        <div><img src="/imges/首页-绿植/new-list21.jpg" alt="">
                            <p>冰糖桔 小红柠檬</p>
                            <p><span>￥139.00</span><del>￥299.00</del></p>
                            <span class="tip">NEW</span>
                        </div>
                    </li>
                </ul>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- 新品推荐部分 -->

        <div class="hot">
            <p>热卖专区</p>
            <div class="container container-list">
                <div class="list">
                    <section class="detail">
                        <div><img src="/imges/首页-绿植/list1.jpg" alt=""></div>
                        <p>薄荷盆栽</p>
                        <p><span>￥19.90</span><del>￥39.90</del><span>月售38934</span></p>
                        <span class="first">月售TOP1</span>
                    </section>
                    <section class="detail">
                        <div><img src="/imges/首页-绿植/list2.png" alt=""></div>
                        <p>mini-蝴蝶兰</p>
                        <p><span>￥29.90</span><del>￥49.90</del><span>月售22570</span></p>
                        <span class="second">月售TOP2</span>
                    </section>
                    <section class="detail">
                        <div><img src="/imges/首页-绿植/list3.png" alt=""></div>
                        <p>彩虹渐变月季</p>
                        <p><span>￥45.90</span><del>￥65.90</del><span>月售8723</span></p>
                        <span class="third">月售TOP3</span>
                    </section>
                    <section class="detail">
                        <div><img src="/imges/首页-绿植/list4.png" alt=""></div>
                        <p>风清财子</p>
                        <p><span>￥29.90</span><del>￥49.90</del><span>月售6678</span></p>
                        <span class="hot">HOT</span>
                    </section>
                    <section class="detail">
                        <div><img src="/imges/首页-绿植/list5.png" alt=""></div>
                        <p>治愈精灵-多肉组合</p>
                        <p><span>￥29.90</span><del>￥49.90</del></p>
                        <span class="hot">HOT</span>
                    </section>
                    <section class="detail">
                        <div><img src="/imges/首页-绿植/list6.png" alt=""></div>
                        <p>青涩少年</p>
                        <p><span>￥19.90</span><del>￥39.90</del></p>
                        <span class="hot">HOT</span>
                    </section>
                </div>

            </div>
        </div>
        <!-- 热卖专区 -->

        <div class="container bottom">
            <p>&copy;2013-2020 上海分尚网络科技有限公司</p>
        </div>
        <!-- 底部 -->

        <script>
            var swiper = new Swiper('.swiper-container', {
                pagination: {
                    el: '.swiper-pagination',
                    dynamicBullets: true,
                },
            });
        </script>
    </div>
</body>

</html>