<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>绿植多肉</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/fleshinessCss/fleshiness.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/data/fleshinessData.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="search">
                <span class="icon"><img src="/imges/首页-绿植/search.svg" alt=""></span>
                <input type="text" name="search" id="search" placeholder="搜索绿植">
            </div>
            <div class="banner"><img src="/imges/首页-绿植/header-banner.jpg" alt=""></div>
        </div>


    </header>
    <!-- 头部 -->


    <div class="container">
        <div class="ad">
            <div>
                <img src="imges/首页-绿植/ad1.png" alt="">
                <img src="imges/首页-绿植/ad2.png" alt="">
            </div>
            <div>
                <img src="imges/首页-绿植/ad3.png" alt="">
            </div>
        </div>
        <!-- 盆栽部分 -->

        <div class="activity">
            <p>活动专区</p>
            <div><img src="/imges/首页-绿植/new.png" alt="">
                <img src="/imges/首页-绿植/sale.png" alt="">
            </div>
        </div>
        <!-- 活动专区部分 -->

        <div class="news">
            <p>新品推荐</p>
            <div class="swiper-container">
                <ul class="swiper-wrapper" style="margin-bottom: 2vh;">
                    {{each news datas}}
                    <li class="swiper-slide">
                        {{each datas items}}
                        <div><img src="{{items.img[0]}}" alt="" class="toDetail" data-id="{{items.name}}">
                            <p>{{items.name}}</p>
                            <p><span>{{items.price}}</span><del>{{items.oldPrice}}</del></p>
                            <span class="tip">{{items.tip}}</span>
                        </div>
                        {{/each}}
                    </li>
                    {{/each}}
                </ul>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- 新品推荐部分 -->

        <div class="hot">
            <p>热卖专区</p>
            <div class="container container-list">
                <div class="list">
                    {{each hot item}}
                    <section class="detail toDetail" data-id="{{item.id}}">
                        <div><img src="{{item.img[0]}}" alt=""></div>
                        <p>{{item.h}}</p>
                        <p><span>{{item.price}}</span><del>{{item.oldPrice}}</del><span>{{item.sale}}</span></p>
                        <span class="hot">{{item.top}}</span>
                    </section>
                    {{/each}}
                </div>

            </div>
        </div>
        <!-- 热卖专区 -->

        <div class="container bottom">
            <p>&copy;2013-2020 上海分尚网络科技有限公司</p>
        </div>
        <!-- 底部 -->

        <script>
            $('.toDetail').click(function() {
                location.href = '/detailPage?id=' + $(this).data('id')
            })

            $('.search').click(function() {
                $.get('/search', (data) => {
                    location.href = 'search'
                })
            })

            var swiper = new Swiper('.swiper-container', {
                pagination: {
                    el: '.swiper-pagination',
                    dynamicBullets: true,
                },
            });
        </script>
    </div>
</body>

</html>