<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/findCss/flower_detail.css">
</head>

<body>
    {{if id==1}}
    <div class="img">
        <img src="{{img1}}" alt="">
    </div>
    <div style="margin-bottom: 5.334vw;">
        <p style="font-size: 36px;">{{top}}</p>
        <p>{{ge}}</p>
        <p>{{p1}}</p>
        <p>{{p2}}</p>
        <p>{{p3}}</p>
        <p>{{p4}}</p>
    </div>

    <div class="img">
        <img src="{{img2}}" alt="">
        <img src="{{img3}}" alt="">
        <img src="{{img4}}" alt="">
        <img src="{{img5}}" alt="">
    </div>

    <div class="show">
        <div class="list">
            <img src="{{img6}}" alt="">
            <p>{{ttp1}}</p>
        </div>
        <div class="list">
            <img src="{{img7}}" alt="">
            <p>{{ttp2}}</p>
        </div>
        <div class="list">
            <img src="{{img8}}" alt="">
            <p>{{ttp3}}</p>
        </div>
        <div class="list">
            <img src="{{img9}}" alt="">
            <p>{{ttp4}}</p>
        </div>
        <div class="list">
            <img src="{{img10}}" alt="">
            <p>{{ttp5}}</p>
        </div>
        <div class="list">
            <img src="{{img11}}" alt="">
            <p>{{ttp6}}</p>
        </div>
        <div class="list">
            <img src="{{img12}}" alt="">
            <p>{{ttp7}}</p>
        </div>
        <div class="list">
            <img src="{{img13}}" alt="">
            <p>{{ttp8}}</p>
        </div>
        <div class="list">
            <img src="{{img14}}" alt="">
            <p>{{ttp9}}</p>
        </div>
        <div class="list">
            <img src="{{img15}}" alt="">
            <p>{{ttp10}}</p>
        </div>
    </div>
    <div class="img">
        <img src="{{img16}}" alt="">
    </div>
    <div class="img">
        <img src="{{img17}}" alt="">
    </div>
    <div class="img">
        <img src="{{img18}}" alt="">
    </div>
    {{else}}
    <div class="img">
        <img src="{{img1}}" alt="">
    </div>
    <div style="margin-bottom: 5.334vw; color: rgb(73, 73, 73);">
        <p style="font-size: 36px; font-family:Calibri;">{{top}}</p>
        <p style="font-size: 15px; font-family:Calibri;">{{ge}}</p>
        <p style="font-size: 15px; font-family:Calibri;">{{p1}}</p>
        <p style="font-size: 15px; font-family:Calibri;">{{p2}}</p>
        <p style="font-size: 15px; font-family:Calibri;">{{p3}}</p>
        <p style="font-size: 15px; font-family:Calibri;">{{p4}}</p>
    </div>

    <div class="img">
        <img src="{{img2}}" alt="">

    </div>
    <p style="font-size: 36px; margin-bottom: 30px;">{{p6}}</p>
    <p style="margin-bottom: 60px;">{{ge}}</p>
    <div class="img">
        <img src="{{img3}}" alt="">
    </div>
    <div>

        <p style="font-size: 36px;">收花预告</p>
        <p style="margin-bottom: 60px;">{{ge}}</p>
        <p>11.21-11.23</p>
        <p>北京仓 成都仓</p>
        <p>12.5-12.7</p>
        <p>上海仓</p>
        <p>12.19-12.21</p>
        <p style="margin: 30px 0;">深圳仓库 武汉仓库</p>

        <p style="font-size: 36px;">花艺步骤</p>
        <p style="margin-bottom: 60px;">{{ge}}</p>
        <p style="font-size: 16px;">分类整理所有花材</p>
        <p style="font-size: 16px;">将瓶口一下的叶子全部摘除</p>
        <p style="font-size: 16px;">斜角剪根</p>
        <p style="font-size: 16px; margin-bottom: 20px;">花瓶装入2/3清水</p>
    </div>

    <div class="show">
        <div class="list">
            <img src="{{img6}}" alt="">
            <p>{{ttp1}}</p>
        </div>
        <div class="list">
            <img src="{{img7}}" alt="">
            <p>{{ttp2}}</p>
        </div>
        <div class="list">
            <img src="{{img8}}" alt="">
            <p>{{ttp3}}</p>
        </div>
        <div class="list">
            <img src="{{img9}}" alt="">
            <p>{{ttp4}}</p>
        </div>
        <div class="list">
            <img src="{{img10}}" alt="">
            <p>{{ttp5}}</p>
        </div>
        <div class="list">
            <img src="{{img11}}" alt="">
            <p>{{ttp6}}</p>
        </div>
        <div class="list">
            <img src="{{img12}}" alt="">
            <p>{{ttp7}}</p>
        </div>
        <div class="list">
            <img src="{{img13}}" alt="">
            <p>{{ttp8}}</p>
        </div>
    </div>
    <p style="font-size: 36px; margin: 15px 0 30px;">—— 完成 ——</p>
    <div class="show">
        <img src="{{img16}}" alt="">
    </div>
    <div>
        <p style="font-size: 36px;">花材说明</p>
        <p style="margin-bottom: 60px;">{{ge}}</p>
        <p style="font-size: 16px;">由于事件原因，部分花材可能稍有变动</p>
        <p style="font-size: 16px;">不影响整体效果</p>
        <p></p>
    </div>
    <div class="img">
        <img src="{{img18}}" alt="">
    </div>

    {{/if}}
</body>

</html>