{{include './header.html'}}
<link rel="stylesheet" href="/css/giftCSS/gift.css">
<link rel="stylesheet" href="/swiper/swiper-bundle.min.css">
<script src="/swiper/swiper-bundle.min.js"></script>

<div class="swiper-container top-pics">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="/imges/首页-礼品/banner-1.jpg">
        </div>
        <div class="swiper-slide">
            <img src="/imges/首页-礼品/banner-2.jpg">
        </div>
        <div class="swiper-slide">
            <img src="/imges/首页-礼品/banner-3.jpg">
        </div>
        <div class="swiper-slide">
            <img src="/imges/首页-礼品/banner-4.jpg">
        </div>
        <div class="swiper-slide">
            <img src="/imges/首页-礼品/banner-5.jpg">
        </div>
        <div class="swiper-slide">
            <img src="/imges/首页-礼品/banner-6.jpg">
        </div>
        <div class="swiper-slide">
            <img src="/imges/首页-礼品/banner-7.jpg">
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>
<nav>
    <div>
        <div>
            <ul>
                <li><a href="" id="new">新品专区</a></li>
                <li><a href="" id="move">鲜花2H达</a></li>
                <li><a href="" id="faster">鲜花预定</a></li>
                <li><a href="" id="birthday">网红蛋糕</a></li>
                <li><a href="" id="good">优选好礼</a></li>
                <li><a href="" id="fover">永生花</a></li>
                <li><a href="" id="outGood">花礼周边</a></li>
                <li><a href="" id="birthdayGift">生日好礼</a></li>
                <li><a href="" id="love">送爱人</a></li>
                <li><a href="" id="parent">送长辈领导</a></li>
                <li><a href="" id="more">更多推荐</a></li>
            </ul>
        </div>
        <div class="isDiv">
            <img src="/imges/首页-礼品/down.png" alt="">
        </div>
        <section class="isNav">
            <div>
                <section>
                    <img src="/imges/首页-礼品/up.png" alt="">
                </section>
                <div><a href="" id="new">新品专区</a></div>
                <div><a href="" id="move">鲜花2H达</a></div>
                <div><a href="" id="faster">鲜花预定</a></div>
                <div><a href="" id="birthday">网红蛋糕</a></div>
                <div><a href="" id="good">优选好礼</a></div>
                <div><a href="" id="fover">永生花</a></div>
                <div><a href="" id="outGood">花礼周边</a></div>
                <div><a href="" id="birthdayGift">生日好礼</a></div>
                <div><a href="" id="love">送爱人</a></div>
                <div><a href="" id="parent">送长辈领导</a></div>
                <div><a href="" id="more">更多推荐</a></div>
            </div>
        </section>
    </div>

</nav>
<div class="gift-all"></div>
<main></main>
<div class="last-pic">
    <img src="/imges/首页-礼品/footer.jpg" alt="">
</div>
<div class="up">
    <img src="/imges/首页-礼品/up.png" alt="">
</div>
<!-- 数据导入 -->
<script src="/data/giftData.js"></script>
<script>
    $(giftData.top).each(function (index, item) {
        $('.gift-all').eq(0).append(`
            <section>
                <h1>${item.h}</h1>
                <p>${item.title}</p>
            </section>
            <div>
                <div>
                    <img src="${item.img}" alt="">
                    <span>${item.name}</span>
                    <p>${item.txt}</p>
                    <small>${item.more}</small>
                    <div>
                        <p>${item.price}</p>
                        <div>立即购买<img src="/imges/首页-礼品/right.svg" alt=""></div>
                    </div>
                </div>
            </div>
        `)
    })
    $.each(giftData, function (key, item) {

        if (key != 'top') {
            $('main').append(`
            <div class="gift-all gift-${key} gift-childs">
                <section>
                    <h1>${item.h}</h1>
                    <p>${item.txt}</p>
                </section>
                <div>
                
                </div>
            </div>
            `)
            $(item.title).each(function (index, item_child) {

                $(`.gift-${key}>div`).append(`
                <div data-id="5fbf7a7894bfcb1dfc077066">
                    <img src="${item_child.img}" alt="">
                    <span>${item_child.name}</span>
                    <p>${item_child.txt}</p>
                    <div>
                        <p>${item_child.price}<del>${item_child.oldPrice}</del></p>
                        <div>立即购买<img src="/imges/首页-礼品/right.svg" alt=""></div>
                    </div>
                </div>
                `)
            })
        }
    })
    $('nav>div>div:nth-of-type(2)').click(function () {
        $('nav>div>section').css('display', 'block')
        $('nav>div>div:nth-of-type(1)').html('切换分类')
    })
    $(window).click(function (e) {
        if ($(event.target).hasClass('isNav')) {
            $('.isNav').css('display', 'none')
            $('nav>div>div:nth-of-type(1)').html(`
        <ul>
            <li><a href="" id="new">新品专区</a></li>
                <li><a href="" id="move">鲜花2H达</a></li>
                <li><a href="" id="faster">鲜花预定</a></li>
                <li><a href="" id="birthday">网红蛋糕</a></li>
                <li><a href="" id="good">优选好礼</a></li>
                <li><a href="" id="fover">永生花</a></li>
                <li><a href="" id="outGood">花礼周边</a></li>
                <li><a href="" id="birthdayGift">生日好礼</a></li>
                <li><a href="" id="love">送爱人</a></li>
                <li><a href="" id="parent">送长辈领导</a></li>
                <li><a href="" id="more">更多推荐</a></li>
        </ul>`)
        addClick()
        }

    })
    function addClick() {
        $('nav a').click(function (e) {
            $('.isNav').css('display', 'none')
            $('nav>div>div:nth-of-type(1)').html(`
        <ul>
            <li><a href="" id="new">新品专区</a></li>
                <li><a href="" id="move">鲜花2H达</a></li>
                <li><a href="" id="faster">鲜花预定</a></li>
                <li><a href="" id="birthday">网红蛋糕</a></li>
                <li><a href="" id="good">优选好礼</a></li>
                <li><a href="" id="fover">永生花</a></li>
                <li><a href="" id="outGood">花礼周边</a></li>
                <li><a href="" id="birthdayGift">生日好礼</a></li>
                <li><a href="" id="love">送爱人</a></li>
                <li><a href="" id="parent">送长辈领导</a></li>
                <li><a href="" id="more">更多推荐</a></li>
        </ul>`)
            e.preventDefault()
            addClick()
            var time = setInterval(() => {
                let thisScroll = $('html')[0].scrollTop
                $('html')[0].scrollTop = thisScroll + 100
                if ($('html')[0].scrollTop > $(`.gift-${this.id}`).offset().top) {
                    $('html')[0].scrollTop = $(`.gift-${this.id}`).offset().top-$('nav>div').innerHeight()
                    clearInterval(time)
                }
            }, 10);
        })
    }addClick()

    $(window).scroll(function () {
        if ($('html')[0].scrollTop >= $(`nav`).offset().top) {
            $(`nav>div`).css({
                position: 'fixed'
            })
        } else {
            $(`nav>div`).css({
                position: 'absolute'
            })
        }
        if($('html')[0].scrollTop>=800){
            $('.up').css('display','block')
        }else{
            $('.up').css('display','none')
        }
    })
    $('.up').click(function(){
        var time = setInterval(() => {
            let thisScroll = $('html')[0].scrollTop
            $('html')[0].scrollTop = thisScroll - 100
            if ($('html')[0].scrollTop <=0) {
                clearInterval(time)
            }
        }, 10);
    })
    $('.gift-all>div>div').click(function(){
        location.href='/detailPage?id='+$(this).data("id")
    })
</script>

<script>
    var mySwiper = new Swiper('.top-pics', {
        loop: true, // 循环模式选项
        autoplay: true,
        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },
    })        
</script>
</body>

</html>