{{include './header.html'}}
<link rel="stylesheet" href="/css/indexCss/indexLess.css">
<link rel="stylesheet" href="/swiper/swiper-bundle.min.css">
<script src="/swiper/swiper-bundle.min.js"></script>

<div class="swiper-container top-pics">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="/imges/首页-推荐/banner-1.jpg">
        </div>
        <div class="swiper-slide">
            <img src="/imges/首页-推荐/banner-2.jpg">
        </div>
        <div class="swiper-slide">
            <img src="/imges/首页-推荐/banner-3.jpg">
        </div>
        <div class="swiper-slide">
            <img src="/imges/首页-推荐/banner-4.jpg">
        </div>
        <div class="swiper-slide">
            <img src="/imges/首页-推荐/banner-5.jpg">
        </div>
        <div class="swiper-slide">
            <img src="/imges/首页-推荐/banner-6.jpg">
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>


<nav>
    <img src="/imges/首页-推荐/pic1-1.png" alt="">
    <img src="/imges/首页-推荐/pic1-2.png" alt="">
    <img src="/imges/首页-推荐/pic1-3.png" alt="">
    <img src="/imges/首页-推荐/pic1-4.png" alt="">
    <img src="/imges/首页-推荐/pic1-5.png" alt="">
    <img src="/imges/首页-推荐/pic1-6.png" alt="">
    <img src="/imges/首页-推荐/pic1-7.png" alt="">
</nav>
<div class="only">
    <h1>活动专区</h1>
    <img src="/imges/首页-推荐/pic2-1.png" alt="">
    <img src="/imges/首页-推荐/pic2-2.png" alt="">
</div>
<div class="flash" drag=true>
    <img src="/imges/首页-推荐/pic3.jpg" alt="">
    <div>
        <div>
            <h1>限时团购</h1>
            <div>
                <p>FLASH SALE</p>
                <p></p>
            </div>
        </div>
        <div class="swiper-container main-pics">
            <div class="swiper-wrapper">
                {{each flash item}}
                <div class="swiper-slide toDetail"  data-id="{{item.id}}" >
                    <img src="{{item.img[0]}}" alt="">
                    <div>
                        <div class="time-item">
                            <img src="/imges/首页-推荐/time.svg" alt="">
                            <span class="day_show">0天</span>
                            <strong class="hour_show">0时</strong>
                            <strong class="minute_show">0分</strong>
                            <strong class="second_show">0秒</strong>
                        </div>
                        <h1>{{item.h}}</h1>
                        <p><del>原价：{{item.oldPrice}}</del><span>{{item.price}}</span></p>
                    </div>
                </div>
                {{/each}}
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination swiper-pagination-fraction"></div>
        </div>
    </div>
</div>
<div class="new">
    <div>
        <div>
            <h1>新品推荐</h1>
            <div>
                <p>NEW ARRIVAL</p>
                <p><span>1</span>/8</p>
            </div>
        </div>
        <section>
            <div>
                {{each New item}}
                <div data-id="{{item.id}}" class="toDetail">
                    <img src="{{item.img[0]}}" alt="">
                    <h1>{{item.h}}</h1>
                    <p>{{item.title}}</p>
                    <div>{{item.price}}</div>
                </div>
                {{/each}}
            </div>
        </section>
    </div>
</div>
<div class="hot hot-one">
    <div>
        <h1>热卖专区</h1>
        <div>
            <p>ALL PRODUCTS</p>
        </div>
    </div>
    <section>
        {{each hot item}}
        <div data-id="{{item.id}}" class="toDetail">
            <img src="{{item.img[0]}}" alt="">
            <span>{{item.h}}</span>
            <p>{{item.title}}</p>
            <div>{{item.price}}</div>
        </div>
        {{/each}}
    </section>
</div>
<div class="find hot">
    <div>
        <h1>发现好物</h1>
        <div>
            <p>GOOD THINGS</p>
        </div>
    </div>
    <section>
        {{each find item}}
        <div data-id="{{item.id}}" class="toDetail">
            <img src="{{item.img[0]}}" alt="">
            <span>{{item.h}}</span>
            <p>{{item.title}}</p>
            <div>{{item.price}}</div>
        </div>
        {{/each}}
    </section>
</div>
<div class="inscribe">
    <p>©2013-2020 上海分尚网络科技有限公司</p>
    <div>沪ICP备13016979 <img src="/imges/首页-推荐/pic-footer.png" alt=""> 沪公网安备 31011402005615号</div>
</div>
<script src="/data/indexData.js"></script>

<script>
    $('.flash section').on({
        touchend: function () {
            let thisNum = $(this).scrollLeft() / $('.flash section>div>div').width()
            $('.flash>div>div span').html(Math.round(thisNum) + 1)
            $(this)[0].scrollLeft = Math.round(thisNum) * $('.flash section>div>div').innerWidth()
        }
    })
    $('.new section').on({
        touchend: function () {
            let thisNum = $(this).scrollLeft() / $('.new section>div>div').width()
            $('.new>div>div span').html(Math.round(thisNum) + 1)
            $(this)[0].scrollLeft = Math.round(thisNum) * ($('.new section>div>div').outerWidth(true))
        }
    })
    
    // 倒计时
    var intDiff = parseInt(((12*24+5)*60+38)*60+52);//倒计时总秒数量

    function timer(intDiff) {
        window.setInterval(function () {
            var day = 0,
                hour = 0,
                minute = 0,
                second = 0;//时间默认值		

            if (intDiff > 0) {

                day = Math.floor(intDiff / (60 * 60 * 24));

                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);

                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);

                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);

            }

            if (minute <= 9) minute = '0' + minute;

            if (second <= 9) second = '0' + second;

            $('.day_show').html(day + "天");

            $('.hour_show').html('<s id="h"></s>' + hour + '时');

            $('.minute_show').html('<s></s>' + minute + '分');

            $('.second_show').html('<s></s>' + second + '秒');

            intDiff--;

        }, 1000);

    }



    $(function () {

        timer(intDiff);

    });	
</script>
<!-- 轮播配置 -->
<script>
    var mySwiper = new Swiper('.top-pics', {
        loop: true, // 循环模式选项
        autoplay: true,
        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },
    })

    var swiper = new Swiper('.main-pics', {
        pagination: {
            el: '.swiper-pagination',
            type: 'fraction',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

    });
    $('.toDetail').click(function(){
        location.href='/detailPage?id='+$(this).data("id")
    })
    $('.main-pics .swiper-pagination').click(function(){
        let thisNum = $(`.main-pics .swiper-pagination>span`).eq(0).html()-1
        $('.main-pics .toDetail').eq(thisNum).click()
    })
</script>
</body>

</html>