<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="/css/findCss/maintenance.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>
</head>

<body>
    <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
        <ul id="swiper-wrapper-5166ce487d6f5cbe" class="swiper-wrapper" aria-live="polite">
            <li class="swiper-slide" role="group" aria-label="1 /2">
                <img src="./imges/发现/养护/banner.jpg" alt="">
            </li>
        </ul>
        <div class="swiper-pagination swiper-pagination-bullets">
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
        </div>
    </div>

    <ul class="top">
        <li> <a href="/maintenance" class="current">全部花束</a></li>
        <li> <a href="/myflower">我的花束</a></li>
    </ul>

    <div class="show_box">
        <a href="" class="list"><img src="./imges/发现/养护/pic1.jpg" alt="" ></a>
        <a href="" class="list"><img src="./imges/发现/养护/pic2.jpg" alt="" ></a>
        <a href="" class="list"><img src="./imges/发现/养护/pic3.jpg" alt="" ></a>
        <a href="" class="list"><img src="./imges/发现/养护/pic4.jpg" alt="" ></a>
        <a href="" class="list"><img src="./imges/发现/养护/pic5.jpg" alt="" ></a>
  
    </div>


    <script>
        var mySwiper = new Swiper('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            autoplay: true,
            speed: 300,
            pagination: {
                el: '.swiper-pagination',
            },
            autoplayDisableOnInteraction: false,
        });
    </script>
</body>

</html>