{{include './header.html'}}
<link rel="stylesheet" href="/css/monthlyCss/monthly.css">

<div class="content">
    <div class="part">
        <div class="banner"><img src="/imges/首页-包月/banner.png" alt=""></div>
        <div class="list">
            {{each list1 item}}
            <section class="list-detail toDetail" data-id="{{item.id}}">
                <div><img src="{{item.img[0]}}" alt=""></div>
                <p>{{item.h}}</p>
                <p>{{item.price}}</p>
                <span>{{item.top}}</span>
            </section>
            {{/each}}
        </div>
    </div>

    <div class="part">
        <div class="banner"><img src="/imges/首页-包月/banner2.png" alt=""></div>
        <div class="list">
            {{each list2 item}}
            <section class="list-detail toDetail" data-id="{{item.id}}">
                <div><img src="{{item.img[0]}}" alt=""></div>
                <p>{{item.h}}</p>
                <p>{{item.price}}</p>
                <span>{{item.top}}</span>
            </section>
            {{/each}}
        </div>
    </div>

    <div class="part">
        <div class="banner"><img src="/imges/首页-包月/banner3.png" alt=""></div>
        <div class="list">
            {{each list3 item}}
            <section class="list-detail toDetail" data-id="{{item.id}}">
                <div><img src="{{item.img[0]}}" alt=""></div>
                <p>{{item.h}}</p>
                <p>{{item.price}}</p>
                <span>{{item.top}}</span>
            </section>
            {{/each}}
        </div>
    </div>



</div>



<div class="part part-four">
    <div class="banner">
        <img src="/imges/首页-包月/banner4.png" alt="">
    </div>
    <div class="list">
        <section class="list-detail-cate">
            <img src="/imges/首页-包月/cate1.png" alt="">
            <img src="/imges/首页-包月/cate2.png" alt="">
            <img src="/imges/首页-包月/cate3.png" alt="">
            <img src="/imges/首页-包月/cate4.png" alt="">
            <img src="/imges/首页-包月/cate5.png" alt="">
        </section>

    </div>
</div>

<div class="bottom">
    <p>©2013-2020 上海分尚网络科技有限公司</p>
    <p>沪ICP备13016979<img src="/imges/首页-包月/police.png">沪公网安备 31011402005615号</p>
</div>

<script>
    $('.toDetail').click(function() {
        location.href = '/detailPage?id=' + $(this).data('id')
    })
</script>
</body>

</html>