{{include './header.html'}}
<link rel="stylesheet" href="/css/monthlyCss/monthly.css">

<div class="content">

</div>

<script src='/data/monthlyData.js'></script>
<script>
    // console.log($(monthlyData))
    $(monthlyData).each(function(index, item) {
        console.log(item)
        var str = `<div class='part'>
            <div class="banner"><img src="${item.banner}"></div><div class="list">
        `
        $(item.list).each(function(index, data) {
            str += `
            <section class="list-detail toDetail" data-id="monthly/${data.name}">
            <div><img src="${data.img}" alt=""></div>
            <p>${data.name}</p>
            <p>${data.price}</p>
            <span>${data.tip}</span>
        </section>`
        })
        str += `</div>`
        $('.content').append(str)
    })
</script>

<div class="part part-four">
    <div class="banner">
        <img src="/imges/首页-包月/banner4.png" alt="">
    </div>
    <div class="list">
        <section class="list-detail-cate">
            <img src="/imges/首页-包月/cate1.png" alt="">
            <img src="/imges/首页-包月/cate2.png" alt="">
            <img src="/imges/首页-包月/cate3.png" alt="">
            <img src="/imges/首页-包月/cate4.png" alt="">
            <img src="/imges/首页-包月/cate5.png" alt="">
        </section>

    </div>
</div>

<div class="bottom">
    <p>©2013-2020 上海分尚网络科技有限公司</p>
    <p>沪ICP备13016979<img src="/imges/首页-包月/police.png">沪公网安备 31011402005615号</p>
</div>

<script>
    $('.toDetail').click(function() {
        location.href = '/detailPage?id=' + $(this).data('id')
    })
</script>
</body>

</html>