<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/searchCSS/searchCss.css">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/jquery.cookie.js"></script>
</head>

<body>
    <header>
        <div class="search">
            <span class="icon"><img src="/imges/首页-绿植/search.svg" alt=""></span>
            <input type="text" name="search" id="search" placeholder="搜索商品">
        </div>
    </header>
    <div class="container">
        <section class="find">
            <p>大家都在搜</p>
            <span>绿萝</span>
            <span>薄荷</span>
            <span>茉莉花</span>
        </section>

        <section class="good">
            <p>本周好物推荐</p>
            <div>
                <div class="list">
                    <div><img src="/imges/首页-绿植/list6.png" alt=""></div>
                    <p>青涩少年-栀子花</p>
                    <p><span>￥19.90</span><del>￥30.00</del></p>
                </div>
            </div>

        </section>
    </div>

</body>

</html>