*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
.swiper-pagination-bullet-active{
   
    background-color: #F25C62 !important;
}
.top{
    background: #fff;
    width: 100%;
    display: flex;
}
.top li{
    width: 50%;
    text-align: center;
    position: relative;

}
.top li a{
    display: inline-block;
    color: #4A4A4A;
    padding: 0 5px;
    height: 40px;
    line-height: 40px;

}
a{
    text-decoration: none;
}
.current {
    border-bottom:2px solid #000 ;
}

.show_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 10px 0;
    background-color: #F5F5F5;
}
.list{
    width:48.6%;
    margin-bottom: 10px;
}
