header {
  display: none;
}
body {
  padding-top: 0;
  position: relative;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 11px !important;
  height: 3px !important;
  background-color: rgba(255, 255, 255, 0.6) !important;
  border: none;
}
.swiper-pagination .swiper-pagination-bullet-active {
  width: 22px !important;
  background-color: #ffffff !important;
}
.top-pics img {
  width: 100%;
}
nav {
  position: relative;
  height: 11.73vw;
}
nav a {
  color: #1B1F2B;
  font-weight: 600;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-size: 3.73vw;
  line-height: 5.33vw;
}
nav a:focus {
  color: #1B1F2B;
  text-decoration: none;
}
nav > div {
  padding: 15px 5px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: white;
  top: 0;
  z-index: 99;
}
nav > div > div:nth-of-type(1) {
  width: 88vw;
  overflow: scroll;
  color: #1B1F2B;
  font-weight: 600;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-size: 3.73vw;
  line-height: 5.33vw;
}
nav > div > div:nth-of-type(1)::-webkit-scrollbar {
  display: none;
}
nav > div > div:nth-of-type(1) ul {
  width: 271vw;
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
}
nav > div > div:nth-of-type(1) ul li {
  margin-right: 6.27vw;
  border-bottom: 2px solid #1B1F2B;
}
nav > div > div:nth-of-type(1) ul li a:focus {
  color: #1B1F2B !important;
  text-decoration: none !important;
}
nav > div > div:nth-of-type(1) ul li a:hover {
  color: #1B1F2B !important;
  text-decoration: none !important;
}
nav > div > div:nth-of-type(2) {
  width: 10vw;
  text-align: center;
  box-shadow: -5px 0 5px -5px #ccc;
}
nav > div > div:nth-of-type(2) img {
  width: 50%;
}
nav > div > section {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 1000vw;
  left: -15px;
  top: -150vw;
  z-index: 999;
}
nav > div > section > div {
  background-color: white;
  height: 38.4vw;
  width: 100%;
  margin-top: 157vw;
  padding: 5.87vw 5.33vw 2.93vw;
  position: relative;
}
nav > div > section > div > div {
  display: inline-block;
  width: 21vw;
  text-align: center;
  padding-bottom: 5.3vw;
}
nav > div > section > div section {
  position: absolute;
  right: 10px;
  top: -20px;
  width: 20px;
  height: 20px;
}
nav > div > section > div section img {
  width: 100%;
}
.gift-all > section {
  padding: 2.67vw 4vw 2.267vw;
  background-color: #333;
  font-family: PingFangSC-Medium, PingFang SC;
  color: white;
}
.gift-all > section h1 {
  line-height: 6.4vw;
  height: 6.4vw;
  font-size: 4.8vw;
  font-weight: 600;
  margin: 0 ;
  margin-bottom: 5px;
}
.gift-all > section p {
  margin: 0;
  line-height: 4.4vw;
  font-size: 3.34vw;
}
.gift-all > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gift-all > div > div {
  width: 100%;
  text-align: center;
  font-family: PingFangSC-Regular, PingFang SC;
}
.gift-all > div > div > img {
  width: 100%;
  margin-bottom: 3.33vw;
}
.gift-all > div > div span {
  line-height: 4.93vw;
  color: #333333;
  font-size: 3.467vw;
}
.gift-all > div > div > p {
  margin: 0.8vw 0 1.6vw;
  color: #333333;
  line-height: 6.4vw;
  font-weight: 600;
  font-size: 4.53vw;
}
.gift-all > div > div small {
  color: rgba(51, 51, 51, 0.5);
  font-size: 3.2vw;
  line-height: 4vw;
}
.gift-all > div > div > div {
  margin-top: 4vw;
  display: flex;
  justify-content: center;
  margin-bottom: 5vw;
  overflow: hidden;
}
.gift-all > div > div > div p {
  width: 60%;
  border: 0.02rem solid #333333;
  line-height: 4.267vw;
  height: 7.2vw;
  padding: 1.2vw 2vw;
  box-sizing: border-box;
  font-weight: 600;
}
.gift-all > div > div > div div {
  width: 40%;
  height: 7.2vw;
  background-color: #333333;
  color: white;
  line-height: 7.2vw;
  padding: 0 1.3vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.gift-all > div > div > div div img {
  margin-left: 0.8vw;
}
.gift-childs > div {
  margin-top: 10px;
}
.gift-childs > div > div {
  width: 48.5vw;
}
.gift-childs > div > div > span {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gift-childs > div > div > p {
  height: 8vw;
  line-height: 4vw;
  font-size: 3.2vw;
  color: rgba(51, 51, 51, 0.5);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gift-childs > div > div > div p {
  font-size: 3.2vw;
  padding: 2px;
  line-height: 4vw;
  height: 5vw;
}
.gift-childs > div > div > div div {
  height: 5vw;
  line-height: 5vw;
  font-size: 3.2vw;
}
.gift-childs > div > div > div div img {
  vertical-align: text-bottom;
}
.last-pic img {
  width: 100%;
}
footer {
  display: none;
}
body {
  padding-bottom: 0;
}
.up {
  width: 6.67vw;
  height: 6.67vw;
  position: fixed;
  bottom: 25.6vw;
  right: 4vw;
  display: none;
}
.up img {
  width: 100%;
}
