* {
  margin: 0;
}
.top-pics img {
  width: 100%;
}
.swiper-pagination-bullet {
  background-color: white !important;
}
.shophead {
  padding: 4.8vw 3.2vw;
  background-color: white;
}
.shophead h1 {
  color: #333;
  font-size: 4.267vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.shophead p {
  color: #999999;
  font-size: 3.2vw;
  height: 9.6vw;
  line-height: 4.8vw;
  margin: 1.6vw 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.round_tit {
  padding: 3.2vw;
  background-color: #FAFAFA;
  border-bottom: 8px solid #f5f5f5;
  display: flex;
  align-items: center;
}
.round_tit div {
  margin-left: 1.3vw;
  color: #999999;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.round_tit img {
  margin-left: 1.3vw;
}
.sales_des {
  display: flex;
  padding-top: 15px;
  border-bottom: 8px solid #f5f5f5;
}
.sales_des > p {
  text-align: center;
  width: 16vw;
}
.sales_des > div {
  width: 84vw;
}
.sales_des > div > div {
  padding-right: 8vw;
  margin-bottom: 1.6vw;
  display: flex;
  justify-content: space-between;
}
.sales_des > div > div > div {
  width: 21vw;
  border: 1px solid #FF6672;
  box-sizing: border-box;
  border-radius: 2px;
  color: #FC6B80;
  font-size: 2.6vw;
  line-height: 4.7vw;
  height: 4.8vw;
  text-align: center;
}
.sales_des > div > div p {
  width: 53vw;
  color: #111111;
  font-size: 3.2vw;
}
.more_banner {
  padding: 4.8vw;
}
.more_banner img {
  width: 100%;
}
.all_imgs {
  font-size: 0;
}
.all_imgs img {
  width: 100%;
}
.product-detail > div {
  padding: 5.6vw 4.53vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-detail > div > div {
  font-size: 3.2vw;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.product-detail > div i {
  opacity: 0.5;
}
.product-detail img {
  width: 100%;
}
body {
  padding-bottom: 48px;
}
.buy_shop {
  height: 48px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 4.27vw;
  color: white;
}
.buy_shop > div:nth-of-type(1) {
  width: 15vw;
}
.buy_shop > div:nth-of-type(2) {
  width: 42.5vw;
  background-color: #FF8DA0;
  height: 100%;
  line-height: 48px;
}
.buy_shop > div:nth-of-type(3) {
  width: 42.5vw;
  background-color: #ff6672;
  height: 100%;
  line-height: 48px;
}
