{{include '../header.html'}}
<div class="container">
    <form class="form-horizontal" role="form" autocomplete="off">
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">商品页面</label>
            <div class="col-sm-10">
                <select class="form-control" name="page">
                  <option>index/list1</option>
                  <option>index/list2</option>
                  <option>index/list3</option>
                  <option>index/list4</option>
                  <option>monthly/list1</option>
                  <option>monthly/list2</option>
                  <option>monthly/list3</option>
                  <option>gift</option>
                  <option>search/list1</option>
                  <option>search/list2</option>
                  <option>moreF</option>
                  <option>home/list</option>
                  <option>home/new</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">商品标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstname" placeholder="请输入商品标题" name="h">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">商品信息</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastname" placeholder="请输入商品信息" name="title">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">商品抬头</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastname" placeholder="请输入商品抬头" name="top">
            </div>
        </div>
        <div class="form-group">
            <label for="twoname" class="col-sm-2 control-label">最新价格</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="twoname" placeholder="请输入新的价格" name="price">
            </div>
        </div>
        <div class="form-group">
            <label for="twoname" class="col-sm-2 control-label">曾经价格</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="twoname" placeholder="请输入曾经的价格" name="oldPrice">
            </div>
        </div>
        <div class="form-group">
            <label for="twoname" class="col-sm-2 control-label">销售量</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="twoname" placeholder="请输入销售量" name="count">
            </div>
        </div>
        <div class="form-group">
            <label for="twoname" class="col-sm-2 control-label">轮播图片</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" placeholder="每个图片地址请用英文的逗号(,)区分开" name="banner"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="twoname" class="col-sm-2 control-label">商品图片</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" placeholder="每个图片地址请用英文的逗号(,)区分开" name="img"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">添加商品</button>
                <button type="button" class="btn btn-default">返回列表</button>
            </div>
        </div>
    </form>
</div>
<script>
    $('form').submit(function(e) {
        e.preventDefault()
        $.get('/admin/addShop', $(this).serialize(), (data) => {
            alert(data)
        })
    })
    $(':button').eq(1).click(function() {
        location.href = '/listFlower'
    })
</script>
</body>

</html>