<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mineCSS/mineInvoice.css">
</head>
<body>
    <div class="head">
        <p>可开发票额度</p>
        <div><span>0</span>元</div>
    </div>
    <main>
        <div>
            <span>按订单开票</span>
            <img src="/imges/我的/mdown.png" alt="">
        </div>
        <div>
            <span>按全额开票</span>
            <img src="/imges/我的/mdown.png" alt="">
        </div>
        <div>
            <span>开票记录</span>
            <img src="/imges/我的/mdown.png" alt="">
        </div>
        <section>
            <ul>
                <li>法定节假日期间的开票申请将于节后工作日开具，给您带来不便敬请谅解</li>
                <li>增值税电子普通发票的受票方需要纸质发票的，可以下载链接自行打印增值税电子普通发票的版式文件，其法律效力、基本用途、基本使用规定等与税务机关监制的增值税普通发票相同。</li>
                <li>进入上海税务网站（www.tax.sh.gov.cn），点击“我要查询”，点击“增值税发票查验”，输入发票代码、发票号码、开票日期、开具金额等信息即可查验。</li>
                <li>最高可开票金额仅按实际支付金额费用，不包含任何优惠券，赠送积分，代金券，体验券等优惠活动费用（单张发票开具金额低于50元，请联系人工客服开票）。</li>
                <li>一个订单只能开具发票一次。</li>
                <li>注意：发票有特殊要求请联系 <a href="">人工客服</a></li>
            </ul>
        </section>
    </main>
</body>
</html>