<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mineCSS/mineMember.css">
    <link rel="stylesheet" href="/swiper/swiper-bundle.min.css">
    <script src="/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
</head>

<body>
    <header>
        <div>Hi,手机用户</div>
        <section>我的奖励</section>
    </header>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div>
                    <div>
                        <b>30p</b>
                    </div>
                    <section>
                        <div>查看规则</div>
                        <h1>水晶花粉</h1>
                        <p>当前成长值：30p</p>
                        <p>距离下一等级：21p</p>
                        <span>我的证书></span>
                    </section>
                </div>
                <section>
                    <div>关注一年，感谢您的陪伴</div>
                    <img src="/imges/我的/15657500883150.png" alt="">
                </section>
            </div>
            <div class="swiper-slide">
                <div>
                    <div>
                        <b>51p</b>
                    </div>
                    <section>
                        <div>查看规则</div>
                        <h1>白银花粉</h1>
                        <p>当前成长值：51p</p>
                        <p>距离下一等级：21p</p>
                        <span>我的证书></span>
                    </section>
                </div>
                <section>
                    <div>关注一年，感谢您的陪伴</div>
                    <img src="/imges/我的/15657500886940.png" alt="">
                </section>
            </div>
            <div class="swiper-slide">

                <div>
                    <div>
                        <b>401p</b>
                    </div>
                    <section>
                        <div>查看规则</div>
                        <h1>铂金花粉</h1>
                        <p>当前成长值：401p</p>
                        <p>距离下一等级：371p</p>
                        <span>我的证书></span>
                    </section>
                </div>
                <section>
                    <div>关注一年，感谢您的陪伴</div>
                    <img src="/imges/我的/15657500887968.png" alt="">
                </section>
            </div>
            <div class="swiper-slide">

                <div>
                    <div>
                        <b>2001p</b>
                    </div>
                    <section>
                        <div>查看规则</div>
                        <h1>钻石花粉</h1>
                        <p>当前成长值：2001p</p>
                        <p>距离下一等级：1971p</p>
                        <span>我的证书></span>
                    </section>
                </div>
                <section>
                    <div>关注一年，感谢您的陪伴</div>
                    <img src="/imges/我的/15657500883307.png" alt="">
                </section>
            </div>
            <div class="swiper-slide">
                <div>
                    <div>
                        <b>8001p</b>
                    </div>
                    <section>
                        <div>查看规则</div>
                        <h1>皇冠花粉</h1>
                        <p>当前成长值：30p</p>
                        <p>距离下一等级：7971p</p>
                        <span>我的证书></span>
                    </section>
                </div>
                <section>
                    <div>关注一年，感谢您的陪伴</div>
                    <img src="/imges/我的/15657500881838.png" alt="">
                </section>
            </div>
        </div>
    </div>
    <div class="ourRight">
        <p>我的权益</p>
        <div>
            <div>
                <div>新人送花瓶</div>
                <img src="/imges/我的/huaping.png" alt="">
            </div>
            <div>
                <div>新客价</div>
                <img src="/imges/我的/newprice.png" alt="">
            </div>
        </div>
    </div>
    <div class="growUp">
        <p>如何获取成长值</p>
        <div>
            <div>
                <img src="/imges/我的/buy.svg" alt="">
                <p>下单购物</p>
                <div>奖励对应金额成长值<img src="/imges/我的/15656893302224.svg" alt=""></div>
            </div>
            <div>
                <img src="/imges/我的/onemonth.svg" alt="">
                <p>首次完整收花一个月</p>
                <div>奖励20成长值<img src="/imges/我的/15656893302224.svg" alt=""></div>
            </div>
            <div>
                <img src="/imges/我的/tuan.svg" alt="">
                <p>分享团购二维码/链接拉用户下单</p>
                <div>奖励20成长值<img src="/imges/我的/15656893302224.svg" alt=""></div>
            </div>
            <div>
                <img src="/imges/我的/firstorder.svg" alt="">
                <p>首次下单并收花成功</p>
                <div>奖励10成长值<img src="/imges/我的/15656893302224.svg" alt=""></div>
            </div>
            <div>
                <img src="/imges/我的/micang.svg" alt="">
                <p>首次购买谜藏并收花成功</p>
                <div>奖励20成长值<img src="/imges/我的/15656893302224.svg" alt=""></div>
            </div>
            <div>
                <img src="/imges/我的/dashi.svg" alt="">
                <p>首次购买大师并收花成功</p>
                <div>奖励20成长值<img src="/imges/我的/15656893302224.svg" alt=""></div>
            </div>
            <div>
                <img src="/imges/我的/zhiai.svg" alt="">
                <p>首次购买挚爱并收花成功</p>
                <div>奖励20成长值<img src="/imges/我的/15656893302224.svg" alt=""></div>
            </div>
            <div>
                <img src="/imges/我的/lite.svg" alt="">
                <p>首次购买轻礼并收花成功</p>
                <div>奖励10成长值<img src="/imges/我的/15656893302224.svg" alt=""></div>
            </div>
            <div>
                <img src="/imges/我的/fplus.svg" alt="">
                <p>首次购买F+</p>
                <div>奖励10成长值<img src="/imges/我的/15656893302224.svg" alt=""></div>
            </div>
            <div>
                <img src="/imges/我的/threemonth.svg" alt="">
                <p>包月套餐满3个月</p>
                <div>奖励40成长值<img src="/imges/我的/15656893302224.svg" alt=""></div>
            </div>
            <div>
                <img src="/imges/我的/sixmonth.svg" alt="">
                <p>包月套餐满6个月</p>
                <div>奖励80成长值<img src="/imges/我的/15656893302224.svg" alt=""></div>
            </div>
            <div>
                <img src="/imges/我的/oneyear.svg" alt="">
                <p>包月套餐满12个月</p>
                <div>奖励160成长值<img src="/imges/我的/15656893302224.svg" alt=""></div>
            </div>
            <div>
                <img src="/imges/我的/mobile.svg" alt="">
                <p>绑定手机号</p>
                <div>奖励160成长值<img src="/imges/我的/15656893302224.svg" alt=""></div>
            </div>
            <div>
                <img src="/imges/我的/info.svg" alt="">
                <p>完善个人资料</p>
                <div>奖励160成长值<img src="/imges/我的/15656893302224.svg" alt=""></div>
            </div>
        </div>
        <section class="top">
            <img src="/imges/我的/15656964303644.svg" alt="">
            <span>展开</span>
        </section>
    </div>
    <div class="nextRight">
        <p>下一等级权益</p>
        <div>
            <img src="/imges/我的/hunhehua.png" alt="">
            <div>
                <div>白银花粉</div>
                <p>混合花自选</p>
                <section>订购繁花包月套餐，在订单中点击[升级指定]，即可免费选择指定花束</section>
            </div>
        </div>
        <div>
            <img src="/imges/我的/uplevel.png" alt="">
            <div>
                <div>白银花粉</div>
                <p>鲜花升级</p>
                <section>订购包月鲜花套餐，可以优惠差价升级到其它鲜花套餐。</section>
            </div>
        </div>
        <div>
            <img src="/imges/我的/levelpack.png" alt="">
            <div>
                <div>白银花粉</div>
                <p>白银升级大礼包</p>
                <section>首次升级为白银会员可得组合优惠券礼包：</section>
            </div>
        </div>
        <div>
            <img src="/imges/我的/suihuagou.png" alt="">
            <div>
                <div>白银花粉</div>
                <p>优惠随花购</p>
                <section>订购简花、悦花、繁花、谜藏产品，服务中订单无加购商品的，可以优惠价随花加购商品。</section>
            </div>
        </div>
    </div>
    <script src="/swiper/swiper-bundle.min.js"></script>
    <script>
        var mySwiper = new Swiper('.swiper-container', {

            loop: true, // 循环模式选项
            slidesPerView: 'auto',
            centeredSlides: true,
            spaceBetween: 15,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

        })
        $('.growUp>section').click(function () {
            if ($(this).hasClass('top')) {
                $(this).removeClass('top')
                $('.growUp>div').css('height','auto')
                $('.growUp>section>span').html('收起')
                $('.growUp>section>img').css('transform','rotate(-180deg)')
                $('.growUp>section>img').css('vertical-align','text-bottom')
            } else {
                $(this).addClass('top')
                $('.growUp>div').css('height','68vw')
                $('.growUp>section>span').html('展开')
                $('.growUp>section>img').css('transform','rotate(0)')
                $('.growUp>section>img').css('vertical-align','text-top')
            }
        })
    </script>
</body>

</html>