<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
        }
        body{
            padding-top: 100px;
            text-align: center;
            background-color: rgb(240, 240, 240);
        }
        img{
            width: 64px;
        }
        p{
            margin-top: 30px;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <img src="/imges/我的/iconfont-empty.png" alt="">
    <p>没有记录</p>
</body>
</html>